<div class="articles-container">
  
  <div class="article-list">
  	<div class="rtw101-articles">RTW 101</div> <!-- nav banner -->
		<div class="articles_filter">
			<h3 class="show-all headline ease" data-filter="*">Show all</h3><br>
		
			<div class="article-link-list">
				<div class="ready parent">
					<h3 class="headline ease" data-filter=".ready">Ready</h3>
						<div class="ready-desc hiddenitems">
							<h5>The around the world trip planning process.</h5>
							<p>This is where AirTreks is at our best. Experience, advice and insight into what will give you the best around the world trip possible. This section covers the planning phase from the glimmer of the travel idea to the part where you actually buy your tickets.</p>
						</div>
				
				</div>

				<div class="set parent">
					<h3 class="headline ease" data-filter=".set">Set</h3>
						<div class="set-desc hiddenitems">
							<h5>AKA: "Taking The Plunge"</h5>
							<p>Time to buy your tickets. There’s still a lot to know at this stage so check out the articles for AirTreks’ tips on things relating to the period from the big buy till your day of departure.</p>
						</div>
				</div>

				<div class="go parent">
					<h3 class="headline ease" data-filter=".go">Go</h3>
						<div class="go-desc hiddenitems">
							<h5>Let’s do this!</h5>
							<p>You’re officially “Off to the Airport”. Insight on how to make the best decisions while you’re out on the road.</p>
						</div>
				
				</div>

			</div>

		</div>
		
	</div>

 	<div class="article-tiles">
		<div class="masonry isotope js-isotope js-masonry" data-masonry-options='{ "itemSelector": ".itemz", "masonry": { "columnWidth": 300, "gutter": 5 } }'>
		
		  <div class="itemz ready ease">
		   		<div class="img-box">
		   			<img src="/assets/airplanes.jpg">
		   		</div>
		   		<p>all of the text all of the text all of the text all of the text all of the text all of the text all of the text all of the text </p>
		  </div>
			
			<div class="itemz ready ease">
				<div class="img-box">
		   		<img src="/assets/airplanes.jpg">
		 		</div>
	  		<p>all of the text all of the text all of the text all of the text all of the text all of the text all of the text all of the text </p>
		  </div>

			<div class="itemz set ease">
				<div class="img-box">
		   		<img src="/assets/airplanes.jpg">
		 		</div>
	  		<p>all of the text all of the text all of the text all of the text all of the text all of the text all of the text all of the text </p>
		  </div>

			<div class="itemz set ease">
				<div class="img-box">
		   		<img src="/assets/airplanes.jpg">
		 		</div>
	  		<p>all of the text all of the text all of the text all of the text all of the text all of the text all of the text all of the text </p>
		  </div>

			<div class="itemz set ease">
				<div class="img-box">
		   		<img src="/assets/airplanes.jpg">
		 		</div>
	  		<p>all of the text all of the text all of the text all of the text all of the text all of the text all of the text all of the text </p>
		  </div>

			<div class="itemz do ease">
				<div class="img-box">
		   		<img src="/assets/airplanes.jpg">
		 		</div>
	  		<p>all of the text all of the text all of the text all of the text all of the text all of the text all of the text all of the text </p>
		  </div>

			<div class="itemz go ease">
				<div class="img-box">
		   		<img src="/assets/airplanes.jpg">
		 		</div>
	  		<p>all of the text all of the text all of the text all of the text all of the text all of the text all of the text all of the text </p>
		  </div>

			<div class="itemz go ease">
				<div class="img-box">
		   		<img src="/assets/airplanes.jpg">
		 		</div>
	  		<p>all of the text all of the text all of the text all of the text all of the text all of the text all of the text all of the text </p>
		  </div>

			
			<div class="itemz ready ease">
		   		three point one
		  </div>
			
			<div class="itemz ready ease">
		   		four
		  </div>

			<div class="itemz set ease">
				<div class="img-div">
		   		five
		   	</div>
		  </div>
			
			<div class="itemz set ease">
		   		five
		  </div>
			
			<div class="itemz go ease">
		   		five
		  </div>

		</div>
	</div>

</div>