<!-- ///////// CAROUSEL ////////// -->
	<div id="owl-demo" class="owl-carousel owl-theme cursor">
	  <div class="item">
	  	<div class="image-wrapper">
	  		<div class="image-content first-slide">
  				<p>Last week, 10,612 people used TripPlanner to price around the world tickets or multi destination flights</p>
			  	<p>Now it’s your turn</p> 
			  	<p>Get instant pricing for any round the world trip right now</p>
			  	<button type="button" class="btn btn-primary btn-lg begin-button"><em>Begin Your Journey Here</em></button><br><br>
			  	<p><a href="#">Free travel insurance included on every qualified trip!</a></p>
		  	</div>
	  	</div>
	  	<img src="assets/sp_lake1.jpg" alt="dribbble.com/griffinkeller">
	  </div>

	  <div class="item">
	  	<div class="image-wrapper">
	  		<div class="image-content second-slide">
  				<p>Find out why AirTreks is the best Around the World ticket provider anywhere.</p>
  				<p>Why AirTreks?</p> 
  				<p>For almost 30 years we have been helping people realize their dreams of around the world travel.</p><br>
	  			<button type="button" class="btn btn-primary btn-lg">Testimonials</button>  			
	  		</div>
	  	</div>
	  	<img src="assets/sp_stairs.jpg" alt="flickr.com/davideragusa">
	  </div>

	  <div class="item">
	  	<div class="image-wrapper">
	  		<div class="image-content third-slide">
		  		<p>Learn how to travel around the world.</p>
		  		<p class="image-content-sub">We've crafted more than 50 articles containing our best advice for anyone making the leap to long-term, around-the-world travel.</p><br>
			  	<button type="button" class="btn btn-primary btn-lg" id="tortw">Check out RTW 101</button>
		  	</div>
		  </div>
	  	<img src="assets/sp_prague1.jpg" alt="dribbble.com/LumenBigott">
	  </div>
	</div>

	<!-- //////// PHONE & BIZ CLASS ///////// -->
	<div class="phone-and-biz row panel first"> <!-- panel first are for fixed div background -->
		<a name="phonebizanchor" id="phonebizanchor"></a>

		<div class="col-md-6">
			<div class="phone">
				<!-- <img src="assets/phone.png"> -->
				<i class="fa fa-phone fa-3x phoneicon"></i>
				<p>Call us:<br>1-877-AIRTREKS<br>(1-415-977-7100)</p>
				<p>Can your trip be more fun? Take 15 minutes and chat with a Personal Travel Consultant. Let them work their itinerary magic.</p>
				<div class="call-to-action ease">We like fun!</div>
			</div>
		</div>
	
		<div class="col-md-6">
			<div class="biz">
				<i class="fa fa-paper-plane fa-3x bizicon"></i>
				<!-- <img src="assets/paper_plane.png"> -->
				<p>Business/First Class Airfares</p> 
				<p>For business or first class pricing of your complex international trip, contact one of our expert Personal Travel Consultants - we'll get back to you with a custom quote.</p>
				<div style="margin-top:22px" class="call-to-action ease">Submit your trip</div>
			</div>
		</div>

	</div>


	<!-- //////// RTW 101 - CONTENT ///////// -->
	<div class="content-box">	

		<div id="toRTW101"></div>
		<div class="rtw101">

			<div class="rtw101-content">
				<div class="content-default">
					<a name="rtwBannerAnchor" id="rtwBannerAnchor"></a>
					<a href="/articles"><div class="rtw101-splash">RTW 101</div></a>
					<div class="rtw101-splash-sub">A mini-course for people who want to travel around the world.</div>
				</div>
			</div>

			<!-- // CONTENT NAV // -->
			<div class="rtw101-nav">
				
				<h3 class="nav-title">How to Plan a RTW Trip</h3>
				<div class="rtwnav-text">
					<p>What's the process of planning and buying around the world tickets?</p>

					<p>How do you know when to pull the trigger?</p>

					<p>What makes a good travel budget?</p>

					<p>How do you decide where to go?</p>

					<p>How on earth do you save the money to do this?</p>

					<p>Find out the answers to all these planning questions and more with our	 <a href="/articles">RTW 101.</a></p>
				</div>

				<!-- <div class="world-by-airtreks"> -->
					<!-- doc to help add the script for aweber form --> 
					<!-- https://help.aweber.com/entries/48887918-How-Do-I-Add-A-Form-To-My-WordPress-Page- -->
					<form class="form-horizontal">
						<fieldset>

						<h4>Register for <em>The World by AirTreks</em></h4>
						<p>A 30-day email program that brings to your inbox money saving tips, insider planning advice as well as a special gift once you finish!</p>
							
						<div class="control-group">
						  <label class="control-label" for="First Name">First Name</label>
						  <div class="controls">
						    <input id="First Name" name="First Name" type="text" placeholder="John Q" class="input-xlarge" required="">						 
						  </div>
						</div>

						<div class="control-group">
						  <label class="control-label" for="textinput">Last Name</label>
						  <div class="controls">
						    <input id="textinput" name="textinput" type="text" placeholder="Traveler" class="input-xlarge" required="">
						  </div>
						</div>

						<div class="control-group">
						  <label class="control-label" for="textinput">Email</label>
						  <div class="controls">
						    <input id="textinput" name="textinput" type="text" placeholder="worldtraveler@gmail.com" class="input-xlarge" required="">
						  </div>
						</div>
						<button type="button" class="btn btn-primary btn-xs" style="margin-top:5px">Make it so!</button>
						</fieldset>
					</form>
				<!-- </div>	 -->

			</div>

		</div> 
	
	</div> 

	<!-- //////// SPECIALS //////// -->
	<div class="specials-lede">
		<h3>Don't know where to go?</h3>
		<h4>Start with our specials - put together for maximum value!</h4>
	</div>
	<div class="specials_thumbs_container">

		<div id="owl-2" class="owl-carousel owl-theme cursor">
		  
		  <div class="sp-item">
		  	<div class="thumbnail grow">
		      <img src="assets/spc_amazing_adventure.png" alt="Amazing Adventure RTW">
		      <div class="caption">
		        <h3>Amazing Adventure Special</h3>
		        <p style="font-size:13px">Los Angeles - London - Nairobi - Kilimanjaro - Zanzibar - Dar Es Salaam - Johannesburg - <em>surface</em> - Cape Town - Dubai - Singapore - <em>surface</em> - Kuala Lumpur - Chiang Mai - <em>surface</em> - Bangkok - Phuket - Singapore - Brisbane - <em>surface</em> - Sydney - Fiji - Los Angeles</p>
		        <p><span class="sp-thumb-price">From USD 4799 to 5469</span><br>
						   <span class="sp-thumb-subprice">Including taxes of USD 1244</span></p>
		        <p><a href="#" class="btn btn-primary" role="button">Get more info</a></p>
		      </div>
		  	</div>
		  </div>

		  <div class="sp-item">
		  	<div class="thumbnail grow">
		      <img src="assets/spc_the_nomad.png" alt="The Nomad RTW">
		      <div class="caption">
		        <h3>The Nomad</h3>
		        <p>Los Angeles - Tokyo - Singapore - Kathmandu - <em>surface</em> - Delhi - Istanbul - London - <em>surface</em> - Paris - Los Angeles</p>
		        <p><span class="sp-thumb-price">From USD 2599 to 3159</span><br>
					     <span class="sp-thumb-subprice">Including taxes of USD 985</span></p>
		        <p><a href="#" class="btn btn-primary" role="button">Get more info</a></p>
		      </div>
		    </div>
		  </div>

		  <div class="sp-item">
		  	<div class="thumbnail grow">
		      <img src="assets/spc_cpac.png" alt="Circle Pacific">
		      <div class="caption">
		        <h3>Circle Pacific</h3>
		        <p>Los Angeles - Honolulu - Manila - Bangkok - <em>surface</em> - Singapore - Sydney - <em>surface</em> - Melbourne - Christchurch - <em>surface</em> - Auckland - Rarotonga (Cook Islands) - Los Angeles</p>
		        <p><span class="sp-thumb-price">From USD 2748 to 3467</span><br>
						   <span class="sp-thumb-subprice">Including taxes of USD 950</span></p>
		        <p><a href="#" class="btn btn-primary" role="button">Get more info</a></p>
		      </div>
		    </div>
		  </div>

		  <div class="sp-item">
		  	<div class="thumbnail grow">
		      <img src="assets/spc_biggapyear.png" alt="Gap Year RTW">
		      <div class="caption">
		        <h3>Big Gap Year Special</h3>
		        <p style="font-size:12px">San Francisco - Hong Kong - Hanoi - <em>surface</em> - Ho Chi Minh City - Bangkok - <em>surface</em> - Phuket - Bali - Singapore - <em>surface</em> - Kuala Lumpur - Delhi - <em>surface</em> - Bombay - Dubai - Addis Ababa - Nairobi - <em>surface</em> - Johannesburg - Cairo - Istanbul - <em>surface</em> - London - Reykjavik - New York - San Francisco</p>
		        <p><span class="sp-thumb-price">From USD 3984 to 5184</span><br>
						   <span class="sp-thumb-subprice">Including taxes of USD 985</span></p>
		        <p><a href="#" class="btn btn-primary" role="button">Get more info</a></p>
		      </div>
		  	</div>
		  </div>

		  <div class="sp-item">
		  	<div class="thumbnail grow">
		      <img src="assets/spc_catl.png" alt="Circle Atlantic">
		      <div class="caption">
		        <h3>Circle the Atlantic Special</h3>
		        <p>New York - Bogota - Rio de Janeiro - Paris - Madrid - New York</p>
		        <p><span class="sp-thumb-price">From USD 1849 to 2368</span><br>
					     <span class="sp-thumb-subprice">Including taxes of USD 279</span></p>
		        <p><a href="#" class="btn btn-primary" role="button">Get more info</a></p>
		      </div>
		    </div>
		  </div>

		  <div class="sp-item">
		  	<div class="thumbnail grow">
		      <img src="assets/spc_europechina.png" alt="Europe and China RTW">
		      <div class="caption">
		        <h3>Europe and China Special</h3>
		        <p>Seattle - Reykjavik - Amsterdam - <em>surface</em> - Berlin - Hong Kong - <em>surface</em> - Shanghai - Beijing - Seattle</p>
		        <p><span class="sp-thumb-price">From USD 1896 to 2408</span><br>
						   <span class="sp-thumb-subprice">Including taxes of USD 753</span></p>
		        <p><a href="#" class="btn btn-primary" role="button">Get more info</a></p>
		      </div>
		    </div>
		  </div>
			
			<div class="sp-item">
		  	<div class="thumbnail grow">
		      <img src="assets/spc_soamcircuit.png" alt="South America Circuit">
		      <div class="caption">
		        <h3>South America Circuit Special</h3>
		        <p>Miami - Quito - Lima - Santiago - Buenos Aires - Sao Paulo - Miami</p>
		        <p><span class="sp-thumb-price">From USD 1898 to 2133</span><br>
						   <span class="sp-thumb-subprice">Including taxes of USD 554</span></p>
		        <p><a href="#" class="btn btn-primary" role="button">Get more info</a></p>
		      </div>
		    </div>
		  </div>

		</div>

		<a href="#"><div class="all-specials-msg ease">See all our specials!</div></a>

	</div>

	<!-- ////// TESTIMONIALS /////// -->

	<div class="testimonials-container panel1 second">
		<h2>What people are saying about us:</h2>

		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  
		  <div class="carousel-inner">
		    <div class="item active">
		      <p>Nicole (January 15, 2014)
					<p>"Thank you so much! I appreciate the fast friendly help at a low price. I've been recommending Airtreks to all of my friends, family &apm; the people I'm meeting all over the world!</p>
		    </div>
		    <div class="item">
		      <p>Tom C. (September 3, 2013)</p>
					<p>"Thank you and thank you again for the truly exceptional customer service you provided in getting this thing booked!"</p>
		    </div>
				<div class="item">
		      <p>Carl Kruse @Carl_Kruze <a href="https://twitter.com/Carl_Kruse/statuses/374384278034849792">on Twitter</a> (September 3, 2013</a>)
					<p>"Trying to sort complicated international travel plans or round the world flights? Airtreks.com is where it’s at. Highly recommended."</p>
		    </div>
				<div class="item">
		      <p>David McCracken (April 19, 2013)</p>
					<p>"I really appreciate the excellent service that AirTreks has provided and the prices could not be beat."</p>
		    </div>
				<div class="item">
		      <p>Rebecca @Wanderlust326 <a href="https://twitter.com/Wanderlust326/status/324257225780625408">on Twitter</a> (April 16, 2013)</p>
					<p>"Another fabulous experience buying #rtw flights with Airtreks! So helpful and understanding. Highly recommended!! East Asia here I come!"</p>
		    </div>
				<div class="item">
		      <p>Undine E. Trotman (April 8, 2013)</p>
					<p>"Thank you very much Airtreks for booking a completely seamless trip for me. I have already referred you to several of my friends!!!"</p>
		    </div>
				<div class="item">
		      <p>Nikki Jumper @nikkijumper <a href="https://twitter.com/nikkijumper/status/320229633679319043">on Twitter</a> (April 8, 2013)
					<p>"@airtreks changes everything!! ;)"</p>
		    </div>
				<div class="item">
		      <p>Scott W @puckmaninmn <a href="https://twitter.com/puckmaninmn/status/292356064081502208">on Twitter</a> (January 18, 2013)
					<p>"I used @airtreks for my honeymoon... Hawaii, Tokyo, Beijing, Hong Kong, New Zealand, Tahiti. Excellent service and price!"</p>
		    </div>
				<div class="item">
		      <p>Mark Curtis (January 10, 2013)</p>
					<p>"Very satisfied with my Airtreks experience – and I haven’t even departed yet.</p>
				<p>"Thanks for great service."</p>
		    </div>
				<div class="item">
		      <p>Noah (December 11, 2012)</p>
					<p>"Thanks for your support and help – I couldn’t do my trips without your rockstar support. They would fall apart and I would stay home or be stuck somewhere."</p>
		    </div>
		  </div>

			<!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="8"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="9"></li>
		  </ol>

	</div>



	<!-- ////// WHY AIRTREKS & SIGNUP /////// -->




