/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_self
 *= require_tree .
 */

html, body {
	margin: 0;
}

nav.navbar.navbar-default.navbar-static-top {
	margin-bottom: 0px;
}

.main-wrapper {
	background-color: #8FC2E9;
	height: 120vh;
	text-align: center;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

.image-wrapper {
	position: absolute;
	width: 100%;
	display: block;
	margin: 0 auto;
}

.image-content {
	width: 75%;
	color: #fff;
	text-align: center;
	display: block;
	margin: 60px auto;
}

.image-content p:nth-child(1) {
	font-size: 40px;
} 

.image-content p:nth-child(2) {
	font-size: 30px;
	width: 60%;
	display: block;
	margin: 20px auto 10px;
} 

.btn-lg {
	border-radius: 0px !important;
	/*background-color: #e67e22 !important;*/
	/*border: 0 !important;*/
	font-size: 30px !important;
}

.glyphicon-chevron-left {
	font-size: 25px;
	padding: 6px 6px 6px 0;
}
.glyphicon-chevron-right {
	font-size: 25px;
	padding: 6px 0 6px 6px;
}


.content-box {
	border: 10px solid #E5E5E5;
	background-color: #fff;
	height: 90vh;
	width: 75%;
	display: block;
	margin: 19px auto;
}

img.nav-logo {
	width: 140px;
	margin: -8px 0 0 -8px;
}

.logo-box {
	background: url(../assets/at_logo.png) no-repeat;
	height: 100%;
	width: 100%;
	margin: 10px;
}

.footer {
	margin: 0;
	background-color: #2E2E2E;
	height: 300px;
	width: 100%;
	color: #fff;
}

.footer-row-container {
	width: 70%;
	display: block;
	margin: 0 auto;
	padding-top: 20px;
}

.footer li {
	padding: 8px;
}


