/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_self
 *= require_tree .
 */

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

html, body, li {
	list-style: none; 
	font-family: 'Titillium Web', sans-serif;
}

body a:hover, .ease:hover {
	text-decoration: none;
	transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;  
}


/*h2 {
  font-size: 5.0vw !important;
}
h3 {
	font-size: 4.0vw;
}
h4 {
	font-size: 3.5vw;
}
p {
  font-size: 2vmin;
}*/

nav.navbar.navbar-default.navbar-static-top {
	margin-bottom: 0px;
	background-color: #fff !important;
}

.main-wrapper {
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
}

.background-wrapper {
	background-color: #8FC2E9;
	height: 400vh;
}

img.nav-logo {
	margin-top: -11px;
	width: 200px;
}

.nav li, .devise {
	font-size: 25px;
	padding: 3px;
	color: #000;
}

.devise {
	margin: 0px 0 20px -10px;
	font-size: 18px;
}
.devise span {
	color: #fff;
}


#flash {
	position: absolute;
	color: darkred;
	background-color: rgba(255,255,255,0.7);
	width: 30%;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
}

/* ////// CAROUSEL /////// */
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
    margin-top:auto;
    max-height: 569px !important;
}

.cursor {
	cursor: default;
}

.image-wrapper {
	position: absolute;
	width: 100%;
	display: block;
	margin: 0 auto;
}

.image-content {
	display: none;
	width: 75%;
	color: #fff;
	text-align: center;
	margin: 50px auto;
}

.image-content p:nth-child(1) {
	font-size: 40px;
	color: #333;
} 

.first-slide p:nth-child(2) {
	font-family: 'Homemade Apple', cursive;
	font-size: 38px !important;
	letter-spacing: 2px;
	color: #8F040B !important;
}
.second-slide p:nth-child(2) {
	font-size: 45px !important;
	letter-spacing: 10px;
}
.third-slide p:nth-child(1){
	font-size: 45px !important;
	letter-spacing: 3px;
}

.image-content p:nth-child(2), .image-content p:nth-child(3) {
	font-size: 30px;
	color: #333;
	width: 75%;
	display: block;
	margin: 20px auto 10px;
} 

.image-content-sub {
	color: #333;
	font-size: 24px;
	display: block;
	margin: -15px auto 20px;
}

.btn-lg {
	font-family: 'Source Sans Pro', sans-serif !important;
	border-radius: 0px !important;
	font-size: 25px !important;
}

.begin-button {
	font-family: 'Source Sans Pro', sans-serif !important;
	border-radius: 0px !important;
	font-size: 25px !important;
}

.why-airtreks {
	background-color: #000;
	opacity: 0.7;
	text-align: left;
	padding: 20px;
	margin: 10px; 
	font-size: 18px;
}

.left-arrow {
	font-size: 25px;
	padding: 6px 0px 6px 0;
}
.right-arrow {
	font-size: 25px;
	padding: 6px 0 6px 0px;
}


/*////// PHONE & BIZ SECTION /////// */

.phone-and-biz {
	margin: 0 auto;
	width: 100%;
	clear: both;
	font-size: 18px;
}

.row {
	margin: -21px 0 0 0 !important;
}

.panel {
	width: 100%;
	height: 475px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.panel.first {
	background-image: url('../assets/sydney.jpg');
}

.phone, .biz {
	position: relative;
	min-height: auto;
	text-align: left;
	width: 50%;
	margin: 40px auto;
	display: block;
	background-color: #fff;
	padding: 15px 30px 10px 30px !important;
	-webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 0px 13px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 0px 13px 0px rgba(50, 50, 50, 0.5);
}

.phone {
	margin-right: 40px;
}
.biz {
	margin-left: 40px;
}

.phoneicon, .bizicon {
	margin: -30px auto 0;
	color: #333;
	display: block;
	background-color: #fff;
	border-radius: 50px;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.8);
  -moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.8);
	box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.8);
}

.phoneicon {
	width: 80px;
	padding: 18px 0px 5px 20px;
}
.bizicon {
	width: 80px;
	padding: 15px 0px 10px 10px;
}

.phone p:nth-child(2), .biz p:nth-child(2) {
	font-size: 26px;
	color: #8F040B;
	text-align: center;
}

.call-to-action {
	margin: 10px auto;
	text-align: 	center;
	font-size: 20px;
	padding: 5px;
	background-color: #fff;
	border: 3px solid #E5E5E5;
	width: 85%;
	bottom: 10px;
}

.call-to-action:hover {
	background-color: #555;
	border-color: #555;
	color: #fff;
}


/* /////// RTW 101 CONTENT //////// */

.content-box {
	border: 10px solid #E5E5E5;
	background-color: #fff;
	height: 100vh;
	width: 95%;
	display: block;
	margin: 19px auto;
	clear: both;
}

.rtw101 {
	width: 100%;
	height: 100%;
}

.rtw101-content, .rtw101-nav {
	box-sizing: border-box;
	height: 100%;
	float: left;
}

.rtw101-content {
	width: 70%;
	border-right: 2px solid #FFF;
}

.content-default {
	background: url(../assets/city.jpg) no-repeat center;
		-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 225px;
	text-align: center;
}

.rtw101-splash, .rtw101-articles { 
	background-color: #000;
	opacity: 0.8;
	color: #ccc;
	width: 100%;
	font-family: 'Ewert', cursive;
	-webkit-transform: translate(2px, 0px) rotate(0deg) skew(0deg, -13deg) scale(1, 1); 
	-moz-transform: translate(2px, 0px) rotate(0deg) skew(0deg, -13deg) scale(1, 1); 
	-o-transform: translate(2px, 0px) rotate(0deg) skew(0deg, -13deg) scale(1, 1); 
	-ms-transform: translate(2px, 0px) rotate(0deg) skew(0deg, -13deg) scale(1, 1); 
	transform: translate(2px, 0px) rotate(0deg) skew(0deg, -13deg) scale(1, 1); 
}

.rtw101-splash {
	position: relative; /*for the animate down feature*/
	font-size: 80px;
	margin-left: -2px;
}


.rtw101-splash-sub {
	color: #fff;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
}



	/* ///// CONTENT NAV ////// */
.rtw101-nav {
	width: 30%;
	padding: 1%;
	text-align: left;
}

.rtw101-nav h3 {
	margin-top: 5px;
}

.world-by-airtreks {
	position: relative;
	width: 100%;
	padding: 20px;
}


   /* ///// SPECIALS //// */
.specials_thumbs_container {
	width: 100%;
	padding: 0 30px 5px 30px;
	background-color: rgba(0,0,0,0.3);
}

.specials-lede {
	width: 100%;
	padding: 1px 0 5px 0;
	text-align: center;
	background-color: rgba(0,0,0,0.3);
	color: #fff;
}
.specials-lede h3 {
	text-transform: uppercase;
}

.thumbnail .caption {
	height: auto;
}

.sp-thumb-price {
	font-size: 19px;
	color: darkred;
}

.sp-thumb-subprice {
	font-size: 12px;
	color: darkblue;
}

.grow {
  /*display: inline-block;*/
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.grow:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.all-specials-msg {
	text-align: center;
	font-size: 25px;
	padding: 10px 0;
	letter-spacing: 12px;
	background-color: #fff;
	border: 6px solid #E5E5E5;
	margin-bottom: 10px;
	position: relative;
	z-index: 100; /*because the specials div above was overlapping*/
}

.all-specials-msg:hover {
	background-color: #555;
	border-color: #555;
	color: #fff;
}

/*.all-specials-msg:hover a {
	background-color: #555 !important;
	color: #fff !important;
}
*/

#owl-2 .item {
    background: #42bdc2;
    margin: 3%;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}

#owl-2 {
	margin-bottom: -50px
}

.sp-item {
	padding: 10px 5%;
}

.owl-pagination {
	display: none;
}


/* ///// TESTIMONIALS //// */

.testimonials-container {
	background-color: #E0E0E0;
	height: 38vh;
	width: 100%;
	padding: 10px 0;
	color: #fff;
}

.carousel-inner {
	font-size: 18px;
	position: relative !important;
	width: 50% !important;
	height: 150px !important;
	overflow: hidden;
	margin: 15px auto !important;
	background-color: rgba(0,0,0,0.9); 
	/*padding: 10px !important;*/
}

.carousel-indicators {
	bottom: 5px !important;
}

.panel1 {
	width: 100%;
	height: 320px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.panel1.second {
	background-image: url('../assets/paris.jpg');
}

	/*//////// FOOTER ////////*/
.footer {
	margin: 0;
	padding-top: 20px;
	background-color: #2E2E2E;
	background: url(../assets/noise.png);
	height: auto;
	width: 100%;
	color: #fff;
}

.footer-row-container {
	width: 70%;
	display: block;
	margin: 0 auto;
	padding-top: 20px;
}

.footer li {
	padding: 4px 10px;
	margin: 5px -6%;
}

.footer-item:hover {
	text-transform: uppercase;
}

.footer li:hover a, .devise a:hover {
	color: white !important;
}


.footer-logo {
	/*margin: 260px 0px 0px -75px;*/
	position: absolute;
}

.social li {
	text-align: left;
	display: inline-block;
	padding: 0px 20px 0px 20px;
}

.searchbar {
	margin-left: -15px !important;
}

/* //////////////// ARTICLES INDEX //////////////// */

.articles-container {
	width: 100%;
	height: 100%;
  margin: auto;
	background-color: rgba(0,0,0,0.7);
}

.articles-container body {
	background-color: #fff;
}

.article-list {
	width: 25%;
	min-height: 100%;
	padding: 20px;
	float: left;
	background-color: #fff;
	overflow: scroll;
}

.rtw101-articles {
	font-size: 45px;
	margin: 20px 0px 0px -2px;
}

.articles_filter {
	margin-top: 50px;
}

.headline {
	cursor: pointer;
	background-color: #fff;
	border: 2px solid #555555;
	padding: 5px;
}

.headline:hover {
	background-color: #555555;
	color: #fff;
}
.headline.current {
	background-color: #555555;
	color: #fff;
}

.hiddenitems {
	display: none;
	padding: 10px;
}

.hiddenitems h5 {
	color: darkred;
}



.article-tiles {
	width: 75%;
	height: 100% !important;
	float: left;
	background-color: #fff;
	display: block;
	position: relative;
	margin: 0 auto;
}

.img-box img {
	width: 100%;
}

.img-box {
	width: 100%;
	margin: 5px auto;
	display: block;
	border-radius: 3px;
}

	/* ///// MASONRY, ISOTOPE /////// */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.masonry, .isotope {
  margin: 0 auto;
  /*max-width: 1000px;*/
}

.masonry:after, .isotope:after {
  content: '';
  display: block;
  clear: both;
}

.masonry .itemz {
	position: relative;
  width: 300px;
  height: auto;
  float: left;
  padding: 10px;
  background-color: #8FC2E9;
  border: 2px solid #333;
  /*border-radius: 5px;*/
  margin: 5px;
  display: block;
  z-index: 1;
}

.itemz:hover {
  border-color: #111;
  background-color: lightblue;
  cursor: pointer;
}

.itemz {
  -webkit-transition: width 0.4s, height 0.4s;
     -moz-transition: width 0.4s, height 0.4s;
       -o-transition: width 0.4s, height 0.4s;
          transition: width 0.4s, height 0.4s;
}


/* both itemz and itemz content change size */
.itemz.is-expanded {
	position: relative;
  width: 90%;
  margin: 25px auto;
  height: auto;
  z-index: 2;
  background: #F90;
  left: 10%;
}








