@media (min-width: 720px) and (max-width: 900px) {
	
	.image-content {
		font-size: 20px;
	}	


	.rtw101-nav {
		background-color: red !important;
		
	}
}

@media (max-width: 750px) {

	.phone, .biz {
		width: 95%;
	}

	.phone {
		margin-right: 45px;
	}
	.biz {
		margin-left: 50px;
	}

}
